@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    @include mixins.block(100%, auto, flex);
    flex-direction: row;
    height: auto;
}

.article {
    margin: 0 !important;
}

mm-nav {
    flex: none;
}

.main {
    @include mixins.block(auto, auto, flex);
    flex:1;
    flex-direction: column;

    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% auto;

    overflow-x: hidden;

    mm-header {
        flex:none;
    }

    .content {
        flex: 1;
        max-width: 100%;

        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 70%;
    
        overflow: hidden;
    }
}
