/* You can add global styles to this file, and also import other style files */
@use 'settings.scss' as settings;
@use 'colors.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'functions.scss' as func;

@font-face {
  font-family: 'CiscoSansTT';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/CiscoSansTTRegular.woff2') format('woff2'),
    url('./assets/font/CiscoSansTTRegular.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/Inter-Regular.woff2') format('woff2'),
    url('./assets/font/Inter-Regular.woff') format('woff');
  font-display: fallback;
}

* {
  font-family: Inter, CiscoSansTT, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: colors.$font-primary;
  text-decoration: none;
  box-sizing:border-box;
}

body,html {
  background-color: colors.$background-primary;
  min-width: 375px;
}

.container {
  @include mixins.container();
}

.mask{
  @include mixins.block(100vw, 100vh);
  @include mixins.position(0, 0, fixed);

  background-color: rgba(24,24,24,0.8);
  z-index: settings.$z-index-pop;
}

.hide {
  display: none !important;
}

@import 'article.scss';

