@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

ul {
    padding: 20px;
}

ul li {
    margin-bottom: 7px;
}

ul li:last-child {
    margin-bottom: 0px;
}

ul .NONE{
    list-style-type: none;
}

ul .ORDERED{
    list-style-type: decimal;
}

ul .UNORDERED{
    list-style-type: disc;
}


.article_back-to-top {
    @include mixins.block(52px, 52px,none);

    position: fixed;
    bottom: 100px;
    right: 40px;
    cursor: pointer;
    background: url(../assets/icons/back-to-top.svg) no-repeat center;
}

.article_banner, .article_content {
    .table {
        overflow: hidden;
    }

    .table_cell {
        padding: 16px;
        overflow: hidden;
    }

    h1 {
        font-size: 64px;
        font-weight: 700;
        height: 78px;
        line-height: 78px; 
    }
    
    h2 {
        font-size: 44px;
        font-weight: 700;
        height: 60px;
        line-height: 60px; 
    }
    
    h3 {
        font-size: 32px;
        font-weight: 700;
        height: 48px;
        line-height: 48px; 
    }
    
    h4 {
        font-size: 28px;
        font-weight: 700;
        height: 40px;
        line-height: 40px; 
    }
    
    h5 {
        font-size: 24px;
        font-weight: 400;
        height: 40px;
        line-height: 40px;
    }

    h6 {
        font-size: 24px;
        font-weight: 700;
        height: 25px;
        line-height: 25px; 
    }

    .p_large_bold {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    .p_large {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    p,.p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        word-wrap:break-word; 
    }

    .p_bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .p_small {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }
    
    a {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 125% */
        text-decoration-line: underline; 
    }

    .block_link {
        display: block;
        line-height: auto;
        text-decoration: none;
        cursor: pointer;
    }

    .block_link:hover {
        background-color:rgba(255, 255, 255, 0.07)!important;
    }
}

.article_banner {
    @include mixins.block(100%, auto);
    max-width: 2200px;
    margin: 0 auto;
}

.article_banner>div {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: row!important;
}

.article_banner>div::after,.article_banner>div::before {
    display: block;
    content: '';
    height: 1px;
    flex:1;
}

.article_banner>div>div {
    width: 1150px!important;
    height: 100%;
    overflow:hidden;
    flex: none!important;;
}


.article {
    @include mixins.block(100%, auto);

    margin: 40px 0;
    display: flex;
    flex-direction: row;
}

.article_l {
    display: block;
    flex: 1;
}

.article_m {
    @include mixins.block(1150px, auto);
    
    overflow:visible;
    overflow-x: hidden;
    flex: none;

    mm-tab {
        width: 100%;
    }

    .article_content {
        @include mixins.block(100%, auto);
    
        margin-top: 60px;

        p {
            word-wrap:break-word;

            a {
                display: inline;
            }
        }

        a {
            text-decoration: underline;
        }

        .block_link {
            display:  block;
            text-decoration: none;
        }
    }
    
}

.article_r {
    display: block;
    flex: 1;

    .article_sub_tab {
        max-width: 160px;
        padding-left: 20px;

        h2 {
            font-size: 12px;
            font-weight: normal;
            color: rgba(255,255,255, 0.7);
            line-height: 16px;
        }

        a{
            display: block;
            margin-top: 12px;
            font-size: 16px;
            color: rgba(255,255,255, 0.95);
            line-height: 24px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: settings.$response-width-xxlarge) {
    .article_m { width: 1150px; }
    .article_banner>div>div { width: 1150px!important; }
}

@media screen and (max-width: settings.$response-width-xlarge) {
    .article_m { width: 1150px; }
    .article_banner>div>div { width: 1150px!important; }
    .article_r {
        .article_sub_tab {
            display: none !important;
        }
    }
    .article_back-to-top{
        display: block;
    }
}

@media screen and (max-width: settings.$response-width-large) {
    .article_m {
        width: auto; 
        flex:1 
    }

    .article_banner>div>div { 
        width: auto!important;
        flex: 1!important;
    }

    .article_l, .article_r,.article_banner>div::after,.article_banner>div::before {
        width: 65px;
        flex: none;
    }
}

@media screen and (max-width: settings.$response-width-middle) {

    .article_l, .article_r,.article_banner>div::after,.article_banner>div::before {
        width: 32px;
    }

    .table {
        display: none;
    }

    .article_banner, .article_content {
        h1 {
            font-size: 48px;
            height: 60px;
            line-height: 60px; 
        }
        
        h2 {
            font-size: 36px;
            height: 44px;
            line-height: 44px; 
        }
        
        h3 {
            font-size: 28px;
            height: 42px;
            line-height: 42px; 
        }
        
        h4 {
            font-size: 24px;
            height: 36px;
            line-height: 36px; 
        }
        
        h5 {
            font-size: 24px;
            height: 36px;
            line-height: 26px; 
        }

        h6 {
            font-size: 24px;
            height: 36px;
            line-height: 26px; 
        }

        .p_large_bold {
            font-size: 18px;
            line-height: 28px;
        }
    
        .p_large {
            font-size: 18px;
            line-height: 28px;
        }
    
        p,.p {
            font-size: 16px;
            line-height: 24px;
        }
    
        .p_bold {
            font-size: 16px;
            line-height: 24px;
        }
    
        .p_small {
            font-size: 14px;
            line-height: 22px; 
        }
        
    }
    
}
