$background-primary: #000000;
$background-secondary: #1A1A1A;

$font-primary: rgba(255,255,255,0.95);
$font-secondary: rgba(255,255,255,0.7);

$border-color: rgba(255,255,255,0.2);
$border-color-button: #3E3E3E;
